

# Commenting out the output files which really out to go into a output directory
2024*.json
2025*.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
.poetry/
poetry.lock

# PyInstaller
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Unit test / coverage reports
*.cover
*.py,cover

# SQLite
*.sqlite3

# System files
Thumbs.db
